/ nav.panel
/   .panel-heading= t('misc.search')
/   .panel-block
/     = search_form_for(@q, url: users_path, class: 'control') do |f|
/       .field.is-horizontal
/         .field-label= f.label :username, User.human_attribute_name(:username), class: 'label'
/         .field-body
/           .field
/             p.control= f.text_field :username_cont, class: 'input'
/
/       .field.is-horizontal
/         .field-label= f.label :admin, User.human_attribute_name(:admin), class: 'label'
/         .field-body
/           .field
/             p.control.select= f.select :admin_eq, [['である', true], ['でない', false]], include_blank: true, class: 'input'
/
/       .field.is-horizontal
/         .field-label
/         .field-body
/           .field
/             p.control.is-pulled-right= f.submit t('misc.search'), class: 'button is-info'
